@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Body1 */

body{
    font-family: 'Mali', sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap row;
    padding: 30px;
}

header .logo{
    font-size: 36px;
    color: #532E7C;
    background-color: #2F154B;
    padding: 6px;
    border-radius: 12px;
    height: 40px;
    width: 38px;
}

header nav ul{
    display: flex;
    flex-flow: row;
    list-style: none;
}

header .extra i{
    color:black;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
}

.btn{
    padding: 9px;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(to top left,#3D1563,#805BAD);
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease;
}


.btn:hover {
    transform: scale(1.1);
}

header nav ul li{
    margin: 20px;
}

header nav ul li a{
    color:black;
    text-decoration: none;
    font-weight: 500;
    transition: all 300ms ease;
}

header nav ul li a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    header{
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }
    header nav ul li a{
        font-size: 13px;
    }
    .btn{
        font-size: 13px;
    }

    header .extra{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .extra i{
        font-size: 22px;
    }   

}


/* Body */

.home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 20px;
}

.home-container .left,
.home-container .right{
    padding: 100px;
}

.home-container .left h1{
    color: black;
}

.home-container .left h2{
    margin-top: -18px;
    font-weight: 400;
    color:#664191;
}

.home-container .left h1 span{
    color:#664191;
}

.home-container .left p{
    max-width: 700px;
    color: black;
}

.home-container .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-container .right p{
    background-color: #19191B;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    color: white;
}

.home-container .right p i{
    color: green;
}

.home-container .right img{
    border-radius: 50%;
    width: 320px; 
}

@media screen and (max-width: 1000px) {
    .home-container{
        flex-direction: column;
    }
    .home-container .left,
    .home-container .right{
        padding: 0px;
    }
    .home-container .left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    } 
    .home-container .left h1{
        font-size: 22px;
    } 
    .home-container .left h2{
        font-size: 17px;
    }  
    .home-container .left p{
        font-size: 12px;
        margin-top: -10px;
        max-width: 400px;
        text-align: center;
    }
    .home-container .right{
        order: -1;    
    }
    .home-container .right img{
        width: 200px;
    }
}

@media screen and (min-width: 665px) {
    .home-container{
        padding: 20px;
    }
}

/* About me */

.about-me-container{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin: 30px;
}

.about-me-container .about-img img{
    height: 400px;
    border-radius: 10%;
}

.about-me-container .about-info h1{
    color: #664191;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    
}
.about-me-container .about-info h2{
    color: #2F154B;
    margin-top: -50px;
    font-size: 45px;

}
.about-me-container .about-info p{
    color: black;
    margin-top: -20px;
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    .about-me-container{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .about-me-container .about-img img{
        height: 300px;
        border-radius: 10%;
    }
    .home-container{
        padding: 10px;
    }
    .about-me-container .about-info{
        margin: 20px;
    }
    .about-me-container .about-info h1{
        margin-top: -20px;
        font-size: 35px;
        margin-bottom: 35px;
    }
    .about-me-container .about-info h2{
        text-align: center;
        font-size: 30px;
    }
    .about-me-container .about-info p{
        font-size: 14px;
        

    }    
}

/*Services*/

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
    padding-top: 50px;
}

.services-container h1{
    color: black;
    font-size: 46px;
}

.services-container .services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 10px;
}

.services-container .services .box-services{
    border: 2px solid #664191;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 30px;
    margin: 15px;
    height: 380px;
}

.services-container .services .box-services .info-services h2{
    color: black;
    font-size: 26px;
}

.services-container .services .box-services .info-services p{
    max-width: 290px;
    color: black;
    text-align: left;
    margin-top: -15px;
    font-size: 14px;
}

.services-container .services .box-services .info-services ul{
    color: black;
    margin-top: 35px;
}

.services-container .services .box-services .info-services h3{
    color: black;
    font-size: 32px;
    margin-top: -2px;
    text-align: right;
}

.services-container .services .box-services button{
    padding: 12px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background: #2F154B;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.services-container .services .box-services button:hover{
    transform: scale(1.1);
}


/* Footer */

footer{
    padding-top: 120px;
}

.line{
    background-color: #222325;
    height: 1px;
    width: 90%;
    margin: 0 auto;
}

footer .down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px 20px;
}

footer .down .copy{
    color: black;
    font-size: 16px;
}

footer .down .copy p span{
    font-weight: 600;
}

footer .down .socials a i{
    color:black;
    font-size: 22px;
    margin: 10px;
}